Repository templ-project/code-with-ai: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

.lintstagedrc.yml:

# lint-staged configuration
# Runs linting and formatting on staged files only

# Markdown files
"**/*.md":
  - "npx prettier --write"
  - "npx eslint --fix --stats --no-warn-ignored"
# Shell script files
# TODO: once all scripts are fixed, uncomment this
".cwai/**/*.sh":
  - "shfmt -i 2 -ci -bn -sr -w -d"
  - "shellcheck -x --severity=style --format=tty"

chore: issue handler scripts
  .cwai/scripts/common/env.sh
  .cwai/scripts/create-feature.sh
  .cwai/scripts/issues/localfs/create.sh
Due: shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: +
  .cwai/scripts/common.sh
  .cwai/scripts/common/strings.sh
  .cwai/scripts/create-feature.sh
  .cwai/scripts/issues/localfs/common.sh
  .cwai/scripts/issues/localfs/read.sh
  .cwai/scripts/issues/localfs/update.sh
Due: shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: refactor
  .cwai/scripts/common.sh
  .cwai/scripts/common/env.sh
  .cwai/scripts/common/git.sh
  .cwai/scripts/common/log.sh
  .cwai/scripts/common/strings.sh
  .cwai/scripts/create-feature.sh
  .cwai/scripts/issues/localfs/common.sh
  .cwai/scripts/issues/localfs/create.sh
  .cwai/scripts/issues/localfs/issue.json
  .cwai/scripts/issues/localfs/read.sh
  .cwai/scripts/issues/localfs/update.sh
Due: shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: refactor
  .cwai/scripts/common.sh
  .cwai/scripts/common/env.sh
  .cwai/scripts/common/git.sh
  .cwai/scripts/common/github.sh
  .cwai/scripts/common/log.sh
  .cwai/scripts/common/strings.sh
  .cwai/scripts/create-feature.sh
  .cwai/scripts/issues/github/README.md
  .cwai/scripts/issues/github/create.sh
  .cwai/scripts/issues/github/read.sh
  .cwai/scripts/issues/github/update-issue.sh
  .cwai/scripts/issues/github/update.sh
  .cwai/scripts/issues/localfs/common.sh
  .cwai/scripts/issues/localfs/create.sh
  .cwai/scripts/issues/localfs/issue.json
  .cwai/scripts/issues/localfs/read.sh
  .cwai/scripts/issues/localfs/update.sh
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: refactor
  .cwai/scripts/common.sh
  .cwai/scripts/create-feature.sh
  .github/prompts/design-game.prompt.md
  .github/prompts/outline.prompt.md
  .gitignore
  .lintstagedrc.yml
  Taskfile.yml
  install.sh
  specs/00080-i-should-write-the-tasks/game-design.md
  specs/00080-i-should-write-the-tasks/hld.md
  specs/00080-i-should-write-the-tasks/issue.json
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

Refactor (#82)
  .cwai/scripts/common.sh
  .cwai/scripts/common/env.sh
  .cwai/scripts/common/git.sh
  .cwai/scripts/common/github.sh
  .cwai/scripts/common/log.sh
  .cwai/scripts/common/strings.sh
  .cwai/scripts/create-feature.sh
  .cwai/scripts/issues/github/README.md
  .cwai/scripts/issues/github/create.sh
  .cwai/scripts/issues/github/read.sh
  .cwai/scripts/issues/github/update-issue.sh
  .cwai/scripts/issues/github/update.sh
  .cwai/scripts/issues/localfs/common.sh
  .cwai/scripts/issues/localfs/create.sh
  .cwai/scripts/issues/localfs/issue.json
  .cwai/scripts/issues/localfs/read.sh
  .cwai/scripts/issues/localfs/update.sh
  .cwai/templates/game-design.md
  .cwai/templates/hld.md
  .cwai/templates/lld.md
  .cwai/templates/product-requirements.md
  specs/00080-i-should-write-the-tasks/game-design.md
  specs/00080-i-should-write-the-tasks/hld.md
  specs/00080-i-should-write-the-tasks/issue.json
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: refactor (#83)
  .cwai/scripts/common.sh
  .cwai/scripts/create-feature.sh
  .github/prompts/design-game.prompt.md
  .github/prompts/outline.prompt.md
  .gitignore
  .lintstagedrc.yml
  Taskfile.yml
  install.sh
  specs/00080-i-should-write-the-tasks/game-design.md
  specs/00080-i-should-write-the-tasks/hld.md
  specs/00080-i-should-write-the-tasks/issue.json
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: updated how features are created
  .cwai/templates/game-design-document.md
  .cwai/templates/game-design.md
  .cwai/templates/high-level-design.md
  .cwai/templates/hld.md
  .cwai/templates/lld.md
  .cwai/templates/low-level-design.md
  .cwai/templates/product-requirement-document.md
  .cwai/templates/product-requirements.md
  .github/prompts/outline.prompt.md
  tests/outline.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: updated how features are created
  .cwai/___prompts/developer.md
  .cwai/___prompts/developer/bash.md
  .cwai/___prompts/developer/c.md
  .cwai/___prompts/developer/cpp.md
  .cwai/___prompts/developer/elixir.md
  .cwai/___prompts/developer/go.md
  .cwai/___prompts/developer/java.md
  .cwai/___prompts/developer/javascript-k6.md
  .cwai/___prompts/developer/javascript.md
  .cwai/___prompts/developer/objective-c.md
  .cwai/___prompts/developer/powershell.md
  .cwai/___prompts/developer/python.md
  .cwai/___prompts/developer/rust.md
  .cwai/___prompts/developer/typescript-k6.md
  .cwai/___prompts/developer/typescript.md
  .cwai/___prompts/developer/zig.md
  .cwai/prompts/breakdown.md
  .cwai/prompts/clarify.md
  .cwai/prompts/implement.md
  .cwai/prompts/outline.md
  .cwai/scripts/create-feature.sh
  .cwai/templates/outline/game-design.md
  .cwai/templates/outline/high-level-design.md
  .cwai/templates/outline/low-level-design.md
  .cwai/templates/outline/product-requirement-document.md
  .cwai/templates/plan.md
  .cwai/tests/outline.md
  .github/prompts/design-game.prompt.md
  .github/prompts/design-hld.prompt.md
  .github/prompts/design-lld.prompt.md
  .github/prompts/design-llm.prompt.md
  .github/prompts/develop.prompt.md
  .github/prompts/outline.prompt.md
  .gitignore
  .lintstagedrc.yml
  .shellcheckrc
  README.md
  install.sh
  src/install.md
  tests/outline.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: implement prompt
  .cwai/prompts/implement.md
  .cwai/templates/stack.md
  README.md
  install.sh
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: implement prompt
  README.md
  install.sh
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: implement prompt
  .cwai/___prompts/developer.md
  .cwai/___prompts/developer/bash.md
  .cwai/___prompts/developer/c.md
  .cwai/___prompts/developer/cpp.md
  .cwai/___prompts/developer/elixir.md
  .cwai/___prompts/developer/go.md
  .cwai/___prompts/developer/java.md
  .cwai/___prompts/developer/javascript-k6.md
  .cwai/___prompts/developer/javascript.md
  .cwai/___prompts/developer/objective-c.md
  .cwai/___prompts/developer/powershell.md
  .cwai/___prompts/developer/python.md
  .cwai/___prompts/developer/rust.md
  .cwai/___prompts/developer/typescript-k6.md
  .cwai/___prompts/developer/typescript.md
  .cwai/___prompts/developer/zig.md
  .cwai/prompts/breakdown.md
  .cwai/prompts/clarify.md
  .cwai/prompts/implement.md
  .cwai/prompts/outline.md
  .cwai/scripts/create-feature.sh
  README.md
  Taskfile.yml
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: enhancing /outline command
  .cwai/prompts/outline.md
  .cwai/templates/outline/high-level-design.md
  .cwai/templates/outline/specs-document.md
  .env.example
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  Taskfile.yml
  company/gaming-small/.prompt.md
  company/gaming-small/2d-3d-artist.md
  company/gaming-small/README.md
  company/gaming-small/animator.md
  company/gaming-small/gameplay-programmer.md
  company/gaming-small/lead-programmer.md
  company/gaming-small/level-designer.md
  company/gaming-small/localization-specialist.md
  company/gaming-small/producer.md
  company/gaming-small/qa-tester.md
  company/gaming-small/technical-artist.md
  company/gaming-small/writer.md
  package.json
  specs/00080-i-should-write-the-tasks/game-design.md
  specs/00080-i-should-write-the-tasks/hld.md
  specs/00080-i-should-write-the-tasks/issue.json
  src/install.md
  testing.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: enhancing /outline command
  .cwai/prompts/breakdown.md
  .cwai/prompts/outline.md
  .cwai/scripts/create-feature.sh
  .cwai/templates/outline/high-level-design.md
  .cwai/templates/outline/specs-document.md
  .env.example
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  Taskfile.yml
  company/gaming-small/.prompt.md
  company/gaming-small/2d-3d-artist.md
  company/gaming-small/README.md
  company/gaming-small/animator.md
  company/gaming-small/gameplay-programmer.md
  company/gaming-small/lead-programmer.md
  company/gaming-small/level-designer.md
  company/gaming-small/localization-specialist.md
  company/gaming-small/producer.md
  company/gaming-small/qa-tester.md
  company/gaming-small/technical-artist.md
  company/gaming-small/writer.md
  package.json
  specs/00080-i-should-write-the-tasks/game-design.md
  specs/00080-i-should-write-the-tasks/hld.md
  specs/00080-i-should-write-the-tasks/issue.json
  src/install.md
  testing.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

104/enchance outline (#106)
  .cwai/prompts/breakdown.md
  .cwai/prompts/outline.md
  .cwai/scripts/create-feature.sh
  .cwai/templates/outline/high-level-design.md
  .cwai/templates/outline/specs-document.md
  .env.example
  .gitignore
  .husky/pre-commit
  .lintstagedrc.yml
  Taskfile.yml
  company/gaming-small/.prompt.md
  company/gaming-small/2d-3d-artist.md
  company/gaming-small/README.md
  company/gaming-small/animator.md
  company/gaming-small/gameplay-programmer.md
  company/gaming-small/lead-programmer.md
  company/gaming-small/level-designer.md
  company/gaming-small/localization-specialist.md
  company/gaming-small/producer.md
  company/gaming-small/qa-tester.md
  company/gaming-small/technical-artist.md
  company/gaming-small/writer.md
  package.json
  specs/00080-i-should-write-the-tasks/game-design.md
  specs/00080-i-should-write-the-tasks/hld.md
  specs/00080-i-should-write-the-tasks/issue.json
  src/install.md
  testing.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

chore: translating install.sh to install.ps1 (base is install.md)
  install.md
  install.ps1
  src/install.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: translating .sh to .ps1 (base is .md)
  .cwai/scripts/common.md
  .cwai/scripts/common.ps1
  .cwai/scripts/create-feature.md
  .cwai/scripts/create-feature.ps1
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: translating .sh to .ps1 (base is .md)
  .cwai/prompts/outline.md
  .cwai/scripts/common.md
  .cwai/scripts/common.ps1
  .cwai/scripts/create-feature.md
  .cwai/scripts/create-feature.ps1
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: merge from 105 branch
  install.md
  install.ps1
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: translating .sh to .ps1 (base is .md)
  .cwai/scripts/common.md
  .cwai/scripts/common.ps1
  .cwai/scripts/create-feature.md
  .cwai/scripts/create-feature.ps1
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: translating .sh to .ps1 (base is .md)
  .cwai/prompts/breakdown.md
  .cwai/prompts/clarify.md
  .cwai/prompts/implement.md
  .cwai/prompts/outline.md
  .cwai/scripts/common.md
  .cwai/scripts/common.ps1
  .cwai/scripts/create-feature.md
  .cwai/scripts/create-feature.ps1
  .cwai/templates/outline/product-requirement.md
  .cwai/templates/outline/specs-document.md
  .cwai/templates/prompt.md
  .cwai/templates/stack.md
  .cwai/testing.md
  .cwai/tests/outline.md
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: translating .sh to .ps1 (base is .md) (#113)
  .cwai/prompts/breakdown.md
  .cwai/prompts/clarify.md
  .cwai/prompts/implement.md
  .cwai/prompts/outline.md
  .cwai/templates/outline/product-requirement.md
  .cwai/templates/outline/specs-document.md
  .cwai/templates/prompt.md
  .cwai/templates/stack.md
  .cwai/testing.md
  .cwai/tests/outline.md
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: added node and python scripts - untested
  PYTHON_INSTALL.md
  PYTHON_SUMMARY.md
  PYTHON_VALIDATION.md
  README.md
  bin/cwai-create-feature
  bin/cwai-create-feature.js
  bin/cwai-install
  bin/cwai-install.js
  package-lock.json
  package.json
  pyproject.toml
  src/commands/__pycache__/create_feature_py.cpython-313.pyc
  src/commands/__pycache__/install_py.cpython-313.pyc
  src/commands/create-feature.js
  src/commands/create_feature_py.py
  src/commands/install.js
  src/commands/install_py.py
  src/install.md
  src/utils/__pycache__/helpers_py.cpython-313.pyc
  src/utils/__pycache__/issue_manager_py.cpython-313.pyc
  src/utils/__pycache__/logger_py.cpython-313.pyc
  src/utils/helpers.js
  src/utils/helpers_py.py
  src/utils/issue-manager.js
  src/utils/issue_manager_py.py
  src/utils/logger.js
  src/utils/logger_py.py
  tests/__init__.py
  tests/test_helpers.py
  tests/test_logger.py
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: added node and python scripts - untested (#114)
  PYTHON_INSTALL.md
  PYTHON_SUMMARY.md
  PYTHON_VALIDATION.md
  README.md
  bin/cwai-create-feature
  bin/cwai-create-feature.js
  bin/cwai-install
  bin/cwai-install.js
  package-lock.json
  package.json
  pyproject.toml
  src/commands/__pycache__/create_feature_py.cpython-313.pyc
  src/commands/__pycache__/install_py.cpython-313.pyc
  src/commands/create-feature.js
  src/commands/create_feature_py.py
  src/commands/install.js
  src/commands/install_py.py
  src/install.md
  src/utils/__pycache__/helpers_py.cpython-313.pyc
  src/utils/__pycache__/issue_manager_py.cpython-313.pyc
  src/utils/__pycache__/logger_py.cpython-313.pyc
  src/utils/helpers.js
  src/utils/helpers_py.py
  src/utils/issue-manager.js
  src/utils/issue_manager_py.py
  src/utils/logger.js
  src/utils/logger_py.py
  tests/__init__.py
  tests/test_helpers.py
  tests/test_logger.py
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: added node and python scripts - untested
  PYTHON_INSTALL.md
  PYTHON_SUMMARY.md
  PYTHON_VALIDATION.md
  README.md
  bin/__init__.py
  bin/js/cwai-create-feature.js
  bin/js/cwai-install.js
  bin/py/__init__.py
  bin/py/cwai_create_feature.py
  bin/py/cwai_install.py
  package-lock.json
  package.json
  pyproject.toml
  src/commands/__pycache__/create_feature_py.cpython-313.pyc
  src/commands/__pycache__/install_py.cpython-313.pyc
  src/commands/create-feature.js
  src/commands/create_feature_py.py
  src/commands/install.js
  src/commands/install_py.py
  src/install.md
  src/utils/__pycache__/helpers_py.cpython-313.pyc
  src/utils/__pycache__/issue_manager_py.cpython-313.pyc
  src/utils/__pycache__/logger_py.cpython-313.pyc
  src/utils/helpers.js
  src/utils/helpers_py.py
  src/utils/issue-manager.js
  src/utils/issue_manager_py.py
  src/utils/logger.js
  src/utils/logger_py.py
  tests/__init__.py
  tests/test_helpers.py
  tests/test_logger.py
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: added node and python scripts - untested (#115)
  README.md
  bin/__init__.py
  bin/js/cwai-create-feature.js
  bin/js/cwai-install.js
  bin/py/__init__.py
  bin/py/cwai_create_feature.py
  bin/py/cwai_install.py
  package-lock.json
  package.json
  pyproject.toml
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

Fix Python package build configuration for uvx
  README.md
  pyproject.toml
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

Properly ignore Python cache files and build artifacts
  .cwai/prompts/outline.md
  .cwai/scripts/common.md
  .cwai/scripts/common.ps1
  .cwai/scripts/common.sh
  .cwai/scripts/create-feature.md
  .cwai/scripts/create-feature.ps1
  .cwai/scripts/create-feature.sh
  .gitignore
  PYTHON_INSTALL.md
  PYTHON_SUMMARY.md
  PYTHON_VALIDATION.md
  README.md
  install.md
  install.ps1
  install.sh
  src/commands/__pycache__/create_feature_py.cpython-313.pyc
  src/commands/__pycache__/install_py.cpython-313.pyc
  src/utils/__pycache__/helpers_py.cpython-313.pyc
  src/utils/__pycache__/issue_manager_py.cpython-313.pyc
  src/utils/__pycache__/logger_py.cpython-313.pyc
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored, shfmt -i 2 -ci -bn -sr -w -d, shellcheck -x --severity=style --format=tty

Add default values for CWAI environment variables
  .cwai/prompts/outline.md
  src/commands/create_feature_py.py
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: added node and python scripts - untested
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: /outline refactored to use variables instead of --arguments
  .cwai/prompts/outline.md
  .cwai/templates/prompt.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: aligning of prompts format
  .cwai/prompts/breakdown.md
  .cwai/prompts/clarify.md
  .cwai/prompts/implement.md
  .cwai/prompts/outline.md
  .cwai/templates/prompt.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: added node and python scripts - untested
  .cwai/templates/stack.md
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: refactored outline prompt
  .cwai/prompts/outline.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

Refactor v2 (#117)
  .cwai/prompts/breakdown.md
  .cwai/prompts/clarify.md
  .cwai/prompts/implement.md
  .cwai/prompts/outline.md
  .cwai/templates/prompt.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

Add installation instructions for npx and uv tools
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

Revise installation commands in README.md
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: attempt to introduce cwai to opencode
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Documentation.md
  .github/ISSUE_TEMPLATE/Feature.md
  .github/ISSUE_TEMPLATE/Question.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/Bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/Documentation.md
  .github/PULL_REQUEST_TEMPLATE/Feature.md
  .github/PULL_REQUEST_TEMPLATE/Refactor.md
  .github/dependabot.yml
  .github/workflows/auto.retry.yml
  .github/workflows/ci.yml
  src/commands/install.js
  src/commands/install_py.py
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: attempt to introduce cwai to opencode (#118)
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/Bug.md
  .github/ISSUE_TEMPLATE/Documentation.md
  .github/ISSUE_TEMPLATE/Feature.md
  .github/ISSUE_TEMPLATE/Question.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/Bug_fix.md
  .github/PULL_REQUEST_TEMPLATE/Documentation.md
  .github/PULL_REQUEST_TEMPLATE/Feature.md
  .github/PULL_REQUEST_TEMPLATE/Refactor.md
  .github/dependabot.yml
  .github/workflows/auto.retry.yml
  .github/workflows/ci.yml
  src/commands/install.js
  src/commands/install_py.py
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored

chore: npx test fixes
  .github/workflows/ci.yml
  README.md
Due: npx prettier --write, npx eslint --fix --stats --no-warn-ignored
